streamlit
opencv-python-headless
numpy
pillow
torch
torchvision
torchaudio
ultralytics
transformers
timm
opencv-python
scikit-learn
pandas
xgboost
#git+https://github.com/facebookresearch/detectron2.git
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cu113/torch1.10/index.html