streamlit
opencv-python-headless
numpy
pillow==9.5.0
torch
torchvision
torchaudio
ultralytics
transformers
timm
opencv-python
scikit-learn
pandas
xgboost
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cu113/torch1.10/index.html
detectron2