streamlit
opencv-python-headless
numpy
pillow==9.5.0
pyyaml==5.1
torch==1.8.0
torchvision
torchaudio
ultralytics
transformers
timm
opencv-python
scikit-learn
pandas
xgboost
git+https://github.com/facebookresearch/detectron2.git #detectron2